<div class="list-product">
  <div class="product" *ngFor="let product of listProduct">
    <img class="product-img-top" src="{{ product.img }}" />
    <div class="favourite-area" appToggeFavourite [product]="product">
      <i
        class="fa fa-heart"
        aria-hidden="true"
        [ngStyle]="{ 'color': !product.isActive ? 'black' : 'red'}"
      ></i>
      <span class="number-heart">{{ product.amount }}</span>
    </div>
    <div class="product-body">
      <p class="product-text">{{ product.content }}</p>
    </div>
  </div>
</div>
